<%- include('../layout/header') -%>
    <div id="index">
        <h1>搜索</h1>
        <a href="/admin/list" class="btn">admin</a>
        <form>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">搜索</label>
                <input type="text" v-model="keyword" class="form-control" placeholder="输入搜索电影">
            </fieldset>
            <button type="button" class="btn btn-primary" @click="searchGo">搜索</button>
        </form>
        <ul class="search-end">
            <li></li>
        </ul>
        <div><span style="color:blue">{{user?user : '请登录'}}</span></div>
        <button @click="quit">退出</button>
    </div>
    <%- include('../layout/footer') -%>
        <script>
            var box = new Vue({
                el: "#index",
                data: {
                    keyword: "",
                    searchMovies: [],
                    user: false
                },
                methods: {
                    searchGo() {
                        axios.post('/api/movies/search', {
                                key: this.keyword
                            })
                            .then(res => {
                                console.log(res);
                            })
                            .catch(err => {
                                console.log(err);
                            });
                    },
                    _isLogin() {
                        axios.get('/api/users/isLoadin')
                            .then(res => {
                                if (res.data) {
                                    this.user = localStorage.getItem('user');
                                } else {
                                    localStorage.clear('user');
                                    this.user = localStorage.getItem('user');
                                };
                            })
                    },
                    quit() {
                        axios.get('/api/users/logout')
                            .then(res => {
                                if (res.data.msg === 'OK') {
                                    this._isLogin();
                                };
                            })
                    }
                },
                created() {
                    this._isLogin();
                }
            });
        </script>