<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf8″>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/vue.min.js'></script>
    <script src='/javascripts/axios.js'></script>
</head>

<body>
    <div id="chapter">
        <button @click="going(item)" v-for="item in framks">{{item}}</button>
        <ul>
            <li v-for="item in chapter">
                <a @click="read(item.href)">{{item.text}}</a>
            </li>
        </ul>
        <p v-for="item in book">{{item}}</p>
    </div>
</body>

</html>
<script>
    var Chapter = new Vue({
        el: "#chapter",
        data: {
            chapter: [],
            book: "",
            framks: ["一念永恒", "盘龙", "儒道至圣"]
        },
        methods: {
            read(id) {
                axios.get('/read/' + id)
                    .then(res => {
                        this.book = res.data.data;
                        console.log(res);
                    })
            },
            going(id) {
                axios.get('/chapter/' + id)
                    .then(res => {
                        this.chapter = res.data.data;
                    })
            }
        },
        created() {
            console.log(this.chapter);
        }
    });
</script>